/Simple Operations and Calculations - Lab/01. Greeting by Name/bin
/Simple Operations and Calculations - Lab/02. Concatenate Data/bin
/Simple Operations and Calculations - Lab/03. Square Area/bin
/Simple Operations and Calculations - Lab/04. Inches to Centimeters/bin
/Simple Operations and Calculations - Lab/05. Projects Creation/bin
/Simple Operations and Calculations - Lab/06. Circle Area and Perimeter/bin
/Simple Operations and Calculations - Lab/07. Pet Shop/bin
bin
obj
